<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:object="${chatForm}" th:action="@{/chat}" action="/" method="POST">
    <label for="username">Username:</label>
    <input th:field="*{username}" id="username" type="text">
    <br /><br />
    <label for="messageText">Message Text:</label>
    <input th:field="*{message}" id="messageText" type="text">
    <br /><br />
    <label for="messageType">Message Type: </label>
    <select th:field="*{messageType}" id="messageType">
        <option th:each="messageType : ${T(com.udacity.jdnd.course1.Model.ChatMessageType).values()}" th:value="${messageType.getDisplayValue()}" th:text="${messageType.getDisplayValue()}">displayValue</option>
<!--        <option selected>Say</option>-->
<!--        <option>Shout</option>-->
<!--        <option>Whisper</option>-->
    </select>
    <br /><br />
    <input type="submit">
</form>

<p th:each="message : ${chatMessages}" th:text="'username: ' + ${message.getUsername()} + ' ' + ${message.getMessageType().getDisplayValue()} +':' + ${message.getMessage()}"></p>
</body>
</html>